@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #e1d4c9;
  width: 1440px;
  margin: 2rem auto 4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
body > section, body > header, body > footer {
  padding: 0 4rem 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 1.05;
}

h2 {
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.25;
}

h3 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
}

.text-accent {
  color: #b0907a;
  font-style: italic;
}

.text-dark {
  color: #403f3d;
}

.text-light {
  color: #e1d4c9;
}

.caption {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
}

.link-underscore-wrapper-dark, .link-underscore-wrapper-light {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.active-link.link-underscore-wrapper-dark:hover, .active-link.link-underscore-wrapper-light:hover {
  cursor: default;
}
.link-underscore-wrapper-dark::after, .link-underscore-wrapper-light::after {
  content: "";
  width: 0;
  height: 0.2rem;
  background-color: transparent;
  transition: all 0.3s ease-in;
}
.active-link.link-underscore-wrapper-dark::after, .active-link.link-underscore-wrapper-light::after {
  width: 100%;
}
.link-underscore-wrapper-dark:not(.active-link):hover::after, .link-underscore-wrapper-light:not(.active-link):hover::after {
  width: 100%;
}

.link-underscore-wrapper-light.active-link::after {
  background-color: #e1d4c9;
}
.link-underscore-wrapper-light:not(.active-link):hover::after {
  background-color: #e1d4c9;
}

.link-underscore-wrapper-dark.active-link::after {
  background-color: #403f3d;
}
.link-underscore-wrapper-dark:not(.active-link):hover::after {
  background-color: #403f3d;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  line-height: 1.5;
}

.nav {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.coffee-menu {
  display: flex;
  gap: 0.8rem;
}

.logo > a,
.logo img {
  display: block;
}

.button-primary, .button-icon-light, .button-icon, .button-app-store {
  background-color: #e1d4c9;
  border-radius: 10rem;
  border: none;
  font-weight: 600;
  line-height: 1.5;
  width: 20rem;
  font-size: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  transition: all 0.3s ease-in;
}
.button-primary *, .button-icon-light *, .button-icon *, .button-app-store * {
  transition: all 0.3s ease-in;
}

.button-icon-light, .button-icon, .button-app-store {
  background-color: transparent;
  border: 0.1rem solid #665f55;
}
.button-icon-light:hover, .button-icon:hover, .button-app-store:hover {
  cursor: pointer;
  background-color: #665f55;
}

.button-primary {
  padding: 2rem 7.8rem;
}

.button-app-store {
  padding: 1.2rem 2rem;
  justify-content: flex-start;
}
.button-app-store > .btn-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2rem;
}
.button-app-store:hover span {
  color: #e1d4c9;
}
.button-app-store:hover path {
  fill: #e1d4c9;
}

.button-icon {
  width: 6rem;
  height: 6rem;
}
.button-icon:hover path {
  stroke: #e1d4c9;
}

.button-icon-light {
  width: 6rem;
  height: 6rem;
  border-color: #c1b6ad;
}
.button-icon-light:hover {
  background-color: #e1d4c9;
}
.button-icon-light:hover path {
  stroke: #403f3d;
}

.hero {
  width: 100%;
  padding: 10rem;
  border-radius: 4rem;
  background-size: cover;
  background-image: url("./assets/img-hero.jpg");
}
.hero > .offer {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: 53rem;
}
.hero > .offer h1 {
  color: #e1d4c9;
  font-size: 7.2rem;
  line-height: 1.05;
}
.hero > .offer p {
  color: #e1d4c9;
  line-height: 1.5;
}

.button-primary, .button-app-store, .button-icon, .button-icon-light {
  background-color: #e1d4c9;
  border-radius: 10rem;
  border: none;
  font-weight: 600;
  line-height: 1.5;
  width: 20rem;
  font-size: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  transition: all 0.3s ease-in;
}
.button-primary *, .button-app-store *, .button-icon *, .button-icon-light * {
  transition: all 0.3s ease-in;
}

.button-app-store, .button-icon, .button-icon-light {
  background-color: transparent;
  border: 0.1rem solid #665f55;
}
.button-app-store:hover, .button-icon:hover, .button-icon-light:hover {
  cursor: pointer;
  background-color: #665f55;
}

.button-primary {
  padding: 2rem 7.8rem;
}

.button-app-store {
  padding: 1.2rem 2rem;
  justify-content: flex-start;
}
.button-app-store > .btn-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2rem;
}
.button-app-store:hover span {
  color: #e1d4c9;
}
.button-app-store:hover path {
  fill: #e1d4c9;
}

.button-icon {
  width: 6rem;
  height: 6rem;
}
.button-icon:hover path {
  stroke: #e1d4c9;
}

.button-icon-light {
  width: 6rem;
  height: 6rem;
  border-color: #c1b6ad;
}
.button-icon-light:hover {
  background-color: #e1d4c9;
}
.button-icon-light:hover path {
  stroke: #403f3d;
}

.favorite-coffee {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.favorite-coffee > h2 {
  text-align: center;
}

.slider {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.slider > .slider-content {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.slider-controls {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}
.slider-controls > .control {
  width: 4rem;
  height: 0.4rem;
  border-radius: 10rem;
  background-color: #c1b6ad;
}
.slider-controls > .control:hover:not(.control-active) {
  cursor: pointer;
}
.slider-controls > .control.control-active {
  background-color: #665f55;
}

.slider-row {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.slider-row > img {
  max-width: 48rem;
  display: block;
}
.slider-row > .slider-item-description {
  max-width: 48rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
}
.slider-row p {
  text-align: center;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.image-box {
  display: flex;
  gap: 4rem;
}
.image-box > .image-column {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.about-image,
.about-image-small {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66rem;
  border-radius: 2rem;
  overflow: hidden;
}
.about-image > img,
.about-image-small > img {
  transition: all 0.3s ease-in;
}
.about-image:hover > img,
.about-image-small:hover > img {
  transform: scale(0.91);
}

.about-image {
  height: 59rem;
}

.about-image-small {
  height: 43rem;
}

.mobile-app {
  display: flex;
  gap: 10rem;
  justify-content: space-between;
  align-items: center;
}
.mobile-app > .offer {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.mobile-app > .offer > .app-button-block {
  display: flex;
  gap: 2rem;
}
.mobile-app > img {
  display: block;
  max-width: 63rem;
}

.link-underscore-wrapper-light, .link-underscore-wrapper-dark {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.active-link.link-underscore-wrapper-light:hover, .active-link.link-underscore-wrapper-dark:hover {
  cursor: default;
}
.link-underscore-wrapper-light::after, .link-underscore-wrapper-dark::after {
  content: "";
  width: 0;
  height: 0.2rem;
  background-color: transparent;
  transition: all 0.3s ease-in;
}
.active-link.link-underscore-wrapper-light::after, .active-link.link-underscore-wrapper-dark::after {
  width: 100%;
}
.link-underscore-wrapper-light:not(.active-link):hover::after, .link-underscore-wrapper-dark:not(.active-link):hover::after {
  width: 100%;
}

.link-underscore-wrapper-light.active-link::after {
  background-color: #e1d4c9;
}
.link-underscore-wrapper-light:not(.active-link):hover::after {
  background-color: #e1d4c9;
}

.link-underscore-wrapper-dark.active-link::after {
  background-color: #403f3d;
}
.link-underscore-wrapper-dark:not(.active-link):hover::after {
  background-color: #403f3d;
}

.contacts > .container {
  border-radius: 4rem;
  background-color: #665f55;
  padding: 10rem;
  display: grid;
  gap: 10rem;
  grid-template-columns: 1fr 1fr;
}
.contacts > .container > .offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}
.contacts > .container > .offer > h2 {
  font-weight: 600;
  color: #e1d4c9;
}
.contacts > .container > .offer > .social-icons {
  display: flex;
  gap: 1.2rem;
}
.contacts > .container > .contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}
.contacts > .container > .contact-info > .contacts {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.contacts > .container > .contact-info > .contacts > .contact-item {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  font-weight: 600;
}
.contacts > .container > .contact-info > .contacts > .contact-item a, .contacts > .container > .contact-info > .contacts > .contact-item .non-link {
  display: flex;
  gap: 0.8rem;
}
