@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url("https://fonts.cdnfonts.com/css/inter?styles=29141");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #e1d4c9;
  margin: 2rem auto 4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: Inter, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

.text-link-like,
a {
  text-decoration: none;
  font-weight: 600;
  display: flex;
  gap: 0.8rem;
}

h1 {
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 1.05;
}

h2, .products__wrapper h1 {
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.25;
}

h3 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
}

.text_accent {
  color: #b0907a;
  font-style: italic;
}

.text_dark {
  color: #403f3d;
}

.text_light {
  color: #e1d4c9;
}

.text_caption {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
}

.tiles {
  display: grid;
  grid-template-columns: repeat(4, 31rem);
  gap: 4rem;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
  padding: 0 4rem;
}

.about {
  margin-bottom: 10rem;
}
.about__wrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.about__grid {
  display: flex;
  gap: 4rem;
}
.about__grid__column {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.about__grid__cell {
  width: 66rem;
  border-radius: 2rem;
  height: 59rem;
}
.about__grid__cell_small {
  width: 66rem;
  border-radius: 2rem;
  height: 43rem;
}

.button-primary, .button-icon-light, .button-icon, .button-app-store, .tab-button {
  background-color: #e1d4c9;
  border-radius: 10rem;
  border: none;
  font-weight: 600;
  line-height: 1.5;
  width: 20rem;
  font-size: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  transition: all 0.3s ease-in;
}
.button-primary *, .button-icon-light *, .button-icon *, .button-app-store *, .tab-button * {
  transition: all 0.3s ease-in;
}

.button-icon-light, .button-icon, .button-app-store, .tab-button {
  background-color: transparent;
  border: 0.1rem solid #665f55;
}
.button-icon-light:hover, .button-icon:hover, .button-app-store:hover, .tab-button:hover {
  cursor: pointer;
  background-color: #665f55;
}

.tab-button {
  padding: 0.8rem 1.6rem 0.8rem 0.8rem;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.8rem;
  width: fit-content;
  height: 4.6rem;
}
.tab-button__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  padding: 0.3rem 0.7rem;
  background-color: #c1b6ad;
  border-radius: 10rem;
}
.tab-button__text {
  color: #403f3d;
}
.tab-button:not(.tab-button_active) {
  border-color: #c1b6ad;
}
.tab-button_active:hover {
  cursor: default;
}
.tab-button_active, .tab-button:hover:not(.tab-button_active) {
  border-color: #665f55;
  background-color: #665f55;
}
.tab-button_active .tab-button__text, .tab-button:hover:not(.tab-button_active) .tab-button__text {
  color: #e1d4c9;
}
.tab-button_active .tab-button__icon, .tab-button:hover:not(.tab-button_active) .tab-button__icon {
  background-color: #e1d4c9;
}

.button-primary {
  padding: 2rem 7.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.button-primary svg {
  opacity: 0;
  width: 0;
  display: block;
}
.button-primary:hover {
  gap: 0.8rem;
}
.button-primary:hover svg {
  opacity: 1;
  width: 20px;
}

.button-app-store {
  padding: 1.2rem 2rem;
  justify-content: flex-start;
  height: 6.4rem;
}
.button-app-store > .btn-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2rem;
}
.button-app-store:hover span {
  color: #e1d4c9;
}
.button-app-store:hover path {
  fill: #e1d4c9;
}

.button-icon {
  width: 6rem;
  height: 6rem;
}
.button-icon:hover path {
  stroke: #e1d4c9;
}

.button-icon-light {
  width: 6rem;
  height: 6rem;
  border-color: #c1b6ad;
}
.button-icon-light:hover {
  background-color: #e1d4c9;
}
.button-icon-light:hover path {
  stroke: #403f3d;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50.6rem;
  border: 0.1rem solid #c1b6ad;
  border-radius: 4rem;
}
.card__image {
  width: 100%;
  height: 31rem;
  border-radius: 4rem;
  flex-shrink: 0;
}
.card__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  width: 100%;
  height: 100%;
}
.card__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.2rem;
  align-self: stretch;
}
.card:hover {
  cursor: pointer;
}

.footer__container {
  border-radius: 4rem;
  background-color: #665f55;
  padding: 10rem;
  display: grid;
  gap: 10rem;
  grid-template-columns: 1fr 1fr;
}
.footer__offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}
.footer__offer h2, .footer__offer .products__wrapper h1, .products__wrapper .footer__offer h1 {
  font-weight: 600;
  color: #e1d4c9;
}
.footer__social {
  display: flex;
  gap: 1.2rem;
}
.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}
.footer__contacts > .contact-item {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  font-weight: 600;
}
.footer__contacts > .contact-item .non-link {
  display: flex;
  gap: 0.8rem;
}

.header {
  margin-bottom: 2rem;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  margin-bottom: 10rem;
}
.hero__background {
  padding: 10rem;
  border-radius: 4rem;
  background-size: cover;
  background-position: center;
  background-image: url("assets/img/img-hero.jpg");
}
.hero__text {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: 53rem;
}

.link-underscore-wrapper-dark, .link-underscore-wrapper-light {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.non-interactive-link.link-underscore-wrapper-dark > a, .non-interactive-link.link-underscore-wrapper-light > a {
  cursor: default;
  pointer-events: none;
}
.link-underscore-wrapper-dark::after, .link-underscore-wrapper-light::after {
  content: "";
  width: 0;
  height: 0.2rem;
  background-color: transparent;
  transition: all 0.3s ease-in;
}
.non-interactive-link.link-underscore-wrapper-dark::after, .non-interactive-link.link-underscore-wrapper-light::after {
  width: 100%;
}
.link-underscore-wrapper-dark:hover::after, .link-underscore-wrapper-light:hover::after {
  width: 100%;
}

.link-underscore-wrapper-light.non-interactive-link::after {
  background-color: #e1d4c9;
}
.link-underscore-wrapper-light:not(.non-interactive-link):hover::after {
  background-color: #e1d4c9;
}

.link-underscore-wrapper-dark.non-interactive-link::after {
  background-color: #403f3d;
}
.link-underscore-wrapper-dark:not(.non-interactive-link):hover::after {
  background-color: #403f3d;
}

.navigation {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.products {
  margin-bottom: 10rem;
}
.products__wrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}
.products__wrapper h1 {
  text-align: center;
  max-width: 80rem;
}

.promo {
  margin-bottom: 10rem;
}
.promo__wrapper {
  display: flex;
  gap: 10rem;
  justify-content: space-between;
  align-items: center;
}
.promo__text {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.promo__buttons {
  display: flex;
  gap: 2rem;
}
.promo__image {
  display: block;
  max-width: 63rem;
}

.scale__container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.scale__target {
  transition: all 0.3s ease-in;
}
.scale__trigger:hover .scale__target {
  transform: scale(0.91);
}

.slider {
  margin-bottom: 10rem;
}
.slider__wrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.slider__title {
  text-align: center;
}
.slider__container {
  display: flex;
  gap: 4rem;
  align-items: center;
}
.slider__active-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  gap: 2rem;
}
.slider__image {
  max-width: 48rem;
  display: block;
}
.slider__description {
  max-width: 48rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
}
.slider__description p {
  text-align: center;
}
.slider__btn-left {
  position: relative;
  left: 0.4rem;
}
.slider__btn-right {
  position: relative;
  right: 0.4rem;
}
.slider__controls {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}
.slider__control {
  width: 4rem;
  height: 0.4rem;
  border-radius: 10rem;
  background-color: #c1b6ad;
}
.slider__control:hover:not(.slider__control_active) {
  cursor: pointer;
}
.slider__control_active {
  background-color: #665f55;
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}
.tabs__switchers {
  display: flex;
  gap: 1.6rem;
}

/*# sourceMappingURL=style.css.map */
