// Variables
$clr-text-dark: #403f3d;
$clr-text-light: #e1d4c9;
$clr-text-accent: #b0907a;

$clr-bg-body: #e1d4c9;
$clr-bg-container: #665f55;
$clr-bg-backdrop: #403f3dcc;

$clr-border-light: #c1b6ad;
$clr-border-dark: #665f55;

// Animations
$transition: all 0.3s ease-in;