.hero {

  &__background {
    padding: 10rem;
    border-radius: 4rem;
    background-size: cover;
    background-position: center;
    background-image: url("assets/img/img-hero.jpg");

    @media screen and (max-width: 900px) {
      padding: 10rem 6rem;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    max-width: 53rem;
  }
}

