.scaled {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  & img {
    transition: $transition;
  }
}

.scale-trigger:hover {
  & img {
    transform: scale(0.91);
  }
}
