%link-underscore-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  &::after {
    content: "";
    width: 0;
    height: 0.2rem;
    background-color: transparent;
    transition: $transition;
  }

  &:hover::after {
    width: 100%;
  }
}

.link-underscore-wrapper-light {
  @extend %link-underscore-wrapper;
  &:hover::after {
    background-color: $clr-text-light;
  }
}

.link-underscore-wrapper-dark {
  @extend %link-underscore-wrapper;
  &:hover::after {
    background-color: $clr-text-dark;
  }
}
