%link-underscore-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.active-link:hover {
    cursor: default;
  }

  &::after {
    content: "";
    width: 0;
    height: 0.2rem;
    background-color: transparent;
    transition: $transition;
  }

  &.active-link::after {
    width: 100%;
  }

  &:not(.active-link):hover::after {
    width: 100%;
  }
}

.link-underscore-wrapper-light {
  @extend %link-underscore-wrapper;

  &.active-link::after {
    background-color: $clr-text-light;
  }

  &:not(.active-link):hover::after {
    background-color: $clr-text-light;
  }
}

.link-underscore-wrapper-dark {
  @extend %link-underscore-wrapper;

  &.active-link::after {
    background-color: $clr-text-dark;
  }

  &:not(.active-link):hover::after {
    background-color: $clr-text-dark;
  }
}
