.scale {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  &__target {
    transition: $transition;
    transform: scale(1.1);
    width: 100%;
  }

  &__trigger:hover {
    & .scale__target {
      transform: scale(1);
    }
  }
}
