@import "../components/link-underscore";

.header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  line-height: 1.5;
}

.nav {
  display: flex;
  gap: 4rem;
  align-items: center;
}
.coffee-menu {
  display: flex;
  gap: 0.8rem;
}

.logo > a,
.logo img {
  display: block;
}
