.mobile-app {
  display: flex;
  gap: 10rem;
  justify-content: space-between;
  align-items: center;

  & > .offer {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    & > .app-button-block {
    display: flex;
    gap: 2rem;
  }
  }

  & > img {
    display: block;
    max-width: 63rem;
  }
}
